@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: url("../src/assets/font/ClashDisplay-Medium.otf");
}

body {
  background-color: black;
}

:root {
  color-scheme: dark;
}